
@font-face {
    font-family: Opensans-bold;
    src: url(OpenSans-Bold.ttf);
}
@font-face {
    font-family: Opensans-regular;
    src: url(OpenSans-Regular.ttf);
}
@font-face {
    font-family: Cookie;
    src: url(Cookie-Regular.ttf);
}
*{
    margin:0;
    padding: 0;
    font-family: Opensans-regular;
}
.top-head{
    padding: 1% 0;
}
.top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.toppartone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.top-icon-text p{
    margin: 0;
    line-height: initial;
    color: #979090;
    font-size: 15px;
}
.top-absolute {
    min-width: 130px;
}

.top-absolute-content{
    position: absolute;
    top: 0;
    right: 11.2%;
    width: 75px;
}
.top-ab-img img{
    width: 100%;
}
.top-ab-text{
    position: absolute;
    top: 0;
    text-align: center;
    color: white;
    line-height: initial;
}
.certified{
    font-size: 12px;
    font-weight: 800;
}

.bottom-head
{
    background: #ff8f34;
}
.bottom-inr ul {
    list-style: none;
    margin: 0;
    display: inline-flex;
    align-items: center;
    padding: 0;
}
.bottom-inr ul a{
    text-decoration: none;
    color: #fff;
}
.bottom-inr ul li{
        padding: 15px 25px;
        border-left: 1px solid white;
        font-size: 14px;
        font-weight: 700;
}
.li-active {
    border-left: none!important;
    background: #92a542;
}

/* slider */

.swiper { 
    height: 500px;
  }
.feature-product,.recent-sold{
   
}
.swiper-product,.swiper-sold{
    position: relative;
    overflow: hidden;
}
.num {
    font-size: 23px;
}
.hero-banner{
    background:url(img/bg.png);
}
.slide-container{
    padding: 0 5%;
}
.swiper-button-prev::after,.swiper-button-next::after{
    content: '';
}

.top-icon {
    height: 38px;
    padding: 0% 0;
}

.top-icon img {
    height: 100%;
}

.product-title {
    font-size: 22px;
    text-align: center;
    padding: 2%;
    font-family: Opensans-bold;
    position: relative;
    text-transform: uppercase;
    color: coral;
}

.product-title:after{
    content: '';
    position: absolute;
    width: 40%;
    height: 8px;
    top: 46%;
    left: 0;
    background: #e5e5e5;
}
.product-title:before{
    content: '';
    position: absolute;
    width: 40%;
    height: 8px;
    top: 46%;
    right: 0;
    background: #e5e5e5;
}

.card-swipe{
    background: #f2f2f2;
    width: 100%;
}

.btn-show-all{
    text-align: center;
    padding: 3%;
}
.btn-show-all span{
    padding: 1.5% 4%;
    border: 1px solid #000;
    font-family: Opensans-bold;
    color: #979090;
}
.card-img img {
    width: 100%;
}
.card-text{
    padding: 10px;
}
.card-text span{
    color:#fe9647;
    font-family: Opensans-bold;
}
.card-smal{
    font-size: 13px;
    color:#7b7b7b!important;
}
.card-star{
    color:#92a542;
}
.dollor{
    color:#ff8f34;
    font-size: 23px;
}
.card-low {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-low-img {
    background:#92a542;
    padding: 6px 10px;
}